@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  max-width: 1920px;
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: 255, 255, 255;
} */

body {
  max-width: 1920px;
  min-height: 100%;
  color: rgb(var(--foreground-rgb));
  background: 255, 255, 255;
  min-width: 1200px;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  width: 100%;
}
.mainComponent {
  margin: 70px auto 70px auto;
  width: 80%;
  max-width: 1200px;
  min-height: 600px;
}

footer {
  width: 100%;
  height: 100px;
  background: #efefef;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;

  color: #000;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin: 27px 0px;
}

h2 {
  font-style: bold;
  font-weight: 700;
  font-size: 40px;

  color: #00c1a6;

  flex: none;
  order: 0;
  flex-grow: 0;
}

hr {
  position: absolute;
  width: 1200px;
  height: 1px;
  border: 0;
  background: #9bffda;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
}
.btngrp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.makePointer {
  cursor: pointer;
}
.userNameCircle {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
  background-color: #00c1a6;
}

/* ----- button ----- */
button {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: pointer;
  outline: 0;
}
button {
  width: 100%;
  height: 70px;
  border-radius: 8px;
  background: #00c1a6;
  color: #fff;
  padding: 10px 20px;
  margin: 2px 2px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  font-style: bold;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 15px;
  font-weight: 500;
  -webkit-transition: background-color 0.05s ease-in-out;
  -moz-transition: background-color 0.05s ease-in-out;
  -o-transition: background-color 0.05s ease-in-out;
  transition: background-color 0.05s ease-in-out;
  vertical-align: middle;
}
.btn_gray {
  background: #999999;
  border: 1px solid #cccccc;
}
.btn_white {
  background: #ffffff;
  border: 2px solid #00c1a6;
  color: #000;
  font-weight: 700;
}
.btn_gray:hover {
  background: #999999;
  border-color: #999;
}
.btn_white:hover {
  background: #00c1a6;
  border: 2px solid #00c1a6;
  color: #fff;
}
.navBtn {
  margin: 0 0;
  width: 300px;
  height: 70px;
  padding: 20px 0;
  background: none;
  color: #000000;
  font-size: 20px;
  align-content: flex-end;
  font-weight: bold;
}
.navBtn:hover {
  background: #00c1a6;
  border-radius: 6px;
  color: #ffffff;
}
.subNavList {
  position: absolute;
  /* top: 45px; */
  /* min-width: 100%; */
  width: 300px;
  max-height: 111px;
  overflow-y: auto;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #efefef;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 9;
}
.subNavList::-webkit-scrollbar {
  width: 16px;
}
.subNavList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  background-clip: padding-box;
  border: 6px solid #fff;
}
.subNavList::-webkit-scrollbar-track {
  background-color: #fff;
}
.subNavList li {
  display: block;
  padding: 6px 12px;
  cursor: pointer;
}
.subNavList li:hover {
  /* display: block;
  padding: 6px 12px;
  cursor: pointer;   */
  color: #00c1a6;
}
.navLogoutBtn {
  width: 230px;
  height: 70px;
  background: none;
  color: #000000;
  font-size: 15px;
}
.inTableBtn {
  width: 70px;
  height: 30px;
}
/* ----- button ----- */
/* ----- input ----- */
input,
textarea {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  letter-spacing: 0;
  -webkit-letter-spacing: 0;
}
input[type="password"] {
  font-family: Arial, Helvetica, sans-serif;
}
input:focus {
  outline: none;
  padding: 0;
  border: 0;
}
input {
  outline: none;
  padding: 0;
  border: 0;
  width: 100%;
}
input[type="text"],
input[type="number"] {
  font-size: 16px;
  color: #444444;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 16px 15px;
  letter-spacing: -0.02em;
  margin: 0 2px;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  box-sizing: border-box;
  background-color: #f7f7fd;
  line-height: 15px;
  min-width: 10px;
  vertical-align: middle;
}
input[type="text"]:focus {
  border: 1px solid #e4d1ff;
  background: #fff;
}

input[type="text"]:read-only {
  border: none;
  background: #f8f8f8;
}

input[type="password"] {
  font-size: 16px;
  color: #444444;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 16px 20px;
  letter-spacing: 0.1em;
  margin: 0 2px;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  box-sizing: border-box;
  background-color: #f7f7fd;
  line-height: 15px;
  min-width: 60px;
}
input[type="password"]:focus {
  border: 1px solid #72bdff;
  background: #fff;
}
input::placeholder {
  color: #888888;
}
textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: #f7f7fd;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  line-height: 19px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 2px;
  resize: none;
}
textarea::placeholder {
  color: #888888;
}
.admCommentTextArea {
  background-color: #d9d9d9;
  height: 100%;
}
.sysNoticeTextArea {
  align-items: center;
  height: 100%;
}
/* ----- input ----- */

/* ----- Table Area ----- */
[class^="tbl_"] {
  border-right: 1px solid #9bffda;
  width: 100%;
}
[class^="tbl_"] th,
[class^="tbl_"] td {
  padding: 8px 20px;
  text-align: center;
  background: #fff;
  border-left: 1px solid #9bffda;
  border-bottom: 1px solid #9bffda;
}
[class^="tbl_"] thead th {
  font-weight: 700;
  color: #fff;
  background: #00c1a6;
  border-bottom: unset;
}
[class^="tbl_"] thead tr:first-child th:first-child {
  border-radius: 10px 0 0 0;
}
[class^="tbl_"] thead tr:first-child th:last-child {
  border-radius: 0 10px 0 0;
}
.tbl_item th,
.tbl_item td {
  padding: 17px 20px 18px;
}
.tbl_item thead th {
  background: #00c1a6;
  border-color: #9bffda;
  color: #fff;
}
.tbl_item tfoot th,
.tbl_item tfoot td {
  border-top: 1px solid #00c1a6;
}
.tableBodyTopBorderStyle {
  border-top: 1px solid #9bffda;
}

.tbl_timetable thead th {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  background: #fff;
  border-top: 1px solid #efefee;
  border-bottom: 1px solid #efefee;
  border-radius: unset !important;
}
.tbl_timetable th,
.tbl_timetable td {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-weight: 400;
  border-color: #efefee;
}
.tbl_timetable th.time {
  padding-left: 0;
  padding-right: 0;
}
.tbl_timetable td {
  text-align: left;
  height: 126px;
  vertical-align: top;
}
.tbl_timetable tbody td:nth-child(2) {
  background-color: #fff2f2;
}
.tbl_timetable tbody td:nth-child(3) {
  background-color: #fffce3;
}
.tbl_timetable tbody td:nth-child(4) {
  background-color: #eef3ff;
}
.tbl_timetable tbody td:nth-child(5) {
  background-color: #e4fffc;
}
.tbl_timetable tbody td:nth-child(6) {
  background-color: #fff8f2;
}
.tbl_timetable tbody td:nth-child(7) {
  background-color: #effff3;
}
.tbl_timetable tbody td:nth-child(8) {
  background-color: #fbecff;
}
.t_left {
  text-align: left !important;
}
.t_center {
  text-align: center !important;
}
.t_right {
  text-align: right !important;
}
.t_noPadding {
  padding: 0px 0px 0px 0px;
}
/* ----- Table Area ----- */

/* ----- paging ----- */
.paging {
  display: block;
  margin-top: 30px;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.paging .num,
.paging .first,
.paging .prev,
.paging .next,
.paging .last {
  display: inline-block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 50%;
  vertical-align: top;
}
.paging .num {
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
  color: #999;
}
.paging strong.num {
  color: #00c1a6;
  border-color: #00c1a6;
}
.paging .first,
.paging .prev,
.paging .next,
.paging .last {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.paging .first {
  margin-left: 0;
  background-image: url(../public/images/btn_first.png);
}
.paging .prev {
  background-image: url(../public/images/btn_prev.png);
}
.paging .next {
  background-image: url(../public/images/btn_next.png);
}
.paging .last {
  margin-right: 0;
  background-image: url(../public/images/btn_last.png);
}
/* ----- paging ----- */

/* ----- Space | Empty | Area | Padding ----- */
.space10 {
  width: 100%;
  height: 10px;
}
.space20 {
  width: 100%;
  height: 20px;
}
.space30 {
  width: 100%;
  height: 30px;
}
.space40 {
  width: 100%;
  height: 40px;
}
.space60 {
  width: 100%;
  height: 60px;
}
.space100 {
  width: 100%;
  height: 100px;
}

.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding40 {
  padding: 40px;
}
.padding50 {
  padding: 50px;
}
.padding60 {
  padding: 60px;
}
.padding70 {
  padding: 70px;
}
.padding80 {
  padding: 80px;
}
.padding90 {
  padding: 90px;
}
.padding100 {
  padding: 100px;
}

.marginTop30 {
  margin-top: 30px;
}
/* ----- Space | Empty | Area | Padding ----- */

/* ----- CKEditor ----- */
#archeve-ckeditor .ck-editor__editable_inline {
  height: 300px;
}
/* ----- CKEditor ----- */

/* ----- Search Area ----- */
.srch_area {
  margin-bottom: 30px;
  /* padding: 30px 40px 33px; */
  /* border: 1px solid #6926d7; */
  border-radius: 6px;
}
/* .srch_area .tit {
  display: block;
  margin: 30px 0 10px;
  line-height: 19px;
  font-weight: 700;
}
.srch_area .tit:first-of-type {
  margin-top: 0;
}
.productInput {
  width: 100%;
  height: 33px;
  margin-right: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 7px;
  font: normal normal normal 14px/20px Roboto;
  padding-left: 10px;
  opacity: 1;
} */
.frm_srch {
  position: relative;
}
.frm_srch .ipt {
  padding-right: 41px;
  width: unset;
  min-width: 400px;
  color: #666;
  font-weight: 700;
  background-color: #efefef;
  border: unset;
  border-radius: 20px;
}
.frm_srch .ipt::-webkit-input-placeholder {
  color: #666;
}
.frm_srch .ipt::-ms-input-placeholder {
  color: #666;
}
.frm_srch .ipt::-moz-placeholder {
  color: #666;
}
.frm_srch .btn_ico_srch {
  margin: 14px 0 0 -50px;
}
/* button */
[class^="btn_ico_"] {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  vertical-align: top;
  overflow: hidden;
}
.btn_ico_srch {
  width: 16px;
  height: 16px;
  background-image: url(../public/images/ico_serch.png);
  background-position: 50% 50%;
  background-size: 12px;
  margin-right: 30px;
}

.ipt {
  padding: 0 20px;
  width: 100%;
  height: 44px;
  background: #f7f7fd;
  border: 1px solid #f7f7fd;
  color: #212121;
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  border-radius: 4px;
}
.ipt:hover {
  border-color: #e8e6f8;
}
.ipt:focus {
  border-color: #605dec;
  outline: rgba(0, 0, 0, 0);
}
.ipt[disabled],
.ipt.date[disabled],
.ipt.month[disabled] {
  color: #ccc;
}
.ipt[readonly],
.ipt.date[readonly],
.ipt.month[readonly] {
  background-color: #f8f8f8;
}

.ipt.warning {
  background-color: #fffbf4;
  border-color: #ffeac1;
}
.ipt.error {
  background-color: #fff5f5;
  border-color: #ffd8d8;
}
.ipt.success {
  border-color: #605dec;
}

.ipt_wrap .ipt {
  margin: 0 10px;
}
/* ----- Search Area ----- */

/* ----- Select Box Area ----- */
.select_box {
  position: relative;
  display: inline-block;
  min-width: 200px;
}
.select_box_small {
  position: relative;
  display: inline-block;
  /* min-width: 81px; */
  width: 150px;
  height: 40px;
}
.select_txt {
  position: relative;
  display: block;
  padding: 10px 41px 10px 15px;
  min-width: 200px;
  color: #666;
  font-weight: 700;
  text-align: left;
  background-color: #efefef;
  border-radius: 20px;
}
.select_txt_small {
  position: relative;
  display: block;
  padding: 10px 15px 10px 15px;
  max-width: 100px;
  height: 35px;
  color: #00c1a6;
  font-weight: 700;
  text-align: left;
  font-size: 15px;
  background-color: #efefef;
  border-radius: 20px;
}
.select_txt:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url(../public/images/ico_dropdown_down.png) no-repeat 50% 50% / 12px;
}
.select_txt_small:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url(../public/images/ico_dropdown_down.png) no-repeat 50% 50% / 12px;
}
.select_lst {
  visibility: hidden;
  position: absolute;
  top: 45px;
  /* min-width: 100%; */
  width: 100px;
  max-height: 111px;
  overflow-y: auto;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #efefef;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 9;
}
.select_lst::-webkit-scrollbar {
  width: 16px;
}
.select_lst::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  background-clip: padding-box;
  border: 6px solid #fff;
}
.select_lst::-webkit-scrollbar-track {
  background-color: #fff;
}
.select_lst li {
  display: block;
  padding: 6px 12px;
}
.select_lst .selectbutton {
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.select_lst .selectbutton:hover {
  color: #00c1a6;
}
.select_box.open .select_txt:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
.select_box.open .select_lst {
  visibility: visible;
}

.select_box_small.open .select_txt:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
.select_box_small.open .select_lst {
  visibility: visible;
}

.select_box.open .select_txt_small:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
.select_box_small.open .select_txt_small:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
/* ----- Select Box Area ----- */

.usrListGrp {
  display: flex;
  justify-content: space-between;
}
